<h2>📦 הזמנת סחורה מספק</h2>

<!-- בחירת ספק -->
<div>
  <label for="supplierSelect">בחר ספק:</label>
  <select id="supplierSelect" [(ngModel)]="selectedSupplier" (change)="onSupplierSelected()">
    <option [ngValue]="null" disabled selected>בחר ספק...</option>
    @for (supplier of suppliers; track $index) {
        <option  [ngValue]="supplier">
            {{ supplier.companyName }}
          </option>
    }
    
  </select>
</div>

<!-- הצגת מוצרים של הספק -->
 @if(products.length > 0){
    <div  style="margin-top: 20px;">
        <h3>🛒 מוצרים של {{ selectedSupplier?.companyName }}</h3>
        <h6>      איש קשר: {{selectedSupplier?.agentName}} טלפון: {{selectedSupplier?.phoneNumber}}</h6>
        <table>
          <thead>
            <tr>
              <th>מוצר</th>
              <th>מחיר</th>
              <th>כמות מינימלית</th>
              <th>כמות להזמנה</th>
            </tr>
          </thead>
          <tbody>
            @for (product of products; track $index) {
                <tr >
                    <td>{{ product.name }}</td>
                    <td>₪{{ product.priceUnit }}</td>
                    <td>{{ product.minQuantity }}</td>
                    <td>
                      <input
                        type="number"
                        min="{{product.minQuantity}}"
                        [value]="getQuantity(product.name)"
                        (input)="updateQuantity(product, $any($event.target).valueAsNumber)"
                      />
                    </td>
                  </tr>
            }
          
          </tbody>
        </table>
      </div>
 }
 @else if (products.length <= 0) {
  <small class="error">
      אין מוצרים  </small>
 }


<!-- כפתור שליחת הזמנה -->
 @if(products.length > 0){
    <div  style="margin-top: 20px;">
        <button (click)="createOrder()">📤 שלח הזמנה</button>
      </div>

 }

